body {
    text-align: center;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    
}

#survey-form {
    background-color: cadetblue;
    max-width: 800px;
    margin: auto;
}
