body {
    text-align: center;
    background-color: powderblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 4rem;
}

P {
    font-size: 1rem;
}

.top-form {
    background-color:rgb(15, 114, 114);
    padding: 20px 10px 10px 10px;
    border-radius: 8px;
    margin: auto;
    width: 900px;
}

.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
}

.fields {
    display: inline-block;
    text-align: left;
    width: 50%;
  
}
  

  